* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
header h1 {
  position: relative;
  left: 3vw;
}
header img {
  position: absolute;
  width: 30px;
}
nav a {
  position: relative;
  right: 10rem;
  margin-left: 3rem;
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
.navbar:hover {
  color: #2270e2;
}
#login {
  height: 5px;
  background-color: #2270e2;
  padding: 12px 30px;
  border-radius: 7px;
  color: white;
  font-size: 15px;
}
#searchbtn {
  height: 30px;
  cursor: pointer;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
#searchbtn:hover input {
  width: 500px;
}
#searchbtn input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: width 0.8s;
  background: transparent;
}
section {
  width: 100%;

  height: 100vh;
  position: relative;
}
#home {
  background-color: #f4f8fd;
}
#cutoffs {
  background-color: #f4f8fd;
  height: 150vh;
}
#addmissions {
  background-color: white;
  height: 200vh;
}
#info {
  position: absolute;
  top: 30vh;
  left: 20vw;
}
#info img {
  position: relative;
  bottom: 25px;
  border-radius: 5px;
}
#info-main {
  display: flex;
  gap: 20px;
}
#about {
  position: absolute;
  width: 80vw;
  top: 50vh;
  left: 10vw;
}
#about-main {
  font-size: 20px;
  font-weight: 550;
}
#about-discription {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 300;
  word-spacing: 10px;
  line-height: 28px;
}
#features-and-benefits::before,
#features-and-benefits::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

#second {
  margin-left: 10vw;
  margin-top: 5vh;
  height: 130vh;
}
table {
  width: 80%;
  border-collapse: collapse;
  position: relative;
  top: 5vh;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  font-size: 14px;

  background-color: #f4f8fd;
}
tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}
tr :hover {
  transform: scale(1.02);
}
/**/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px;
  padding: 20px;
}
#main-courses {
  position: relative;
  top: 100px;
  right: 0px;
  width: 80%;
}
.grid-item {
  background-color: #f4f8fd;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  animation: slideInLeft 1s ease;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.grid-item:nth-child(even) {
  animation-name: slideInRight;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.name-courses {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 10px 0;
}

.seat-field {
  display: block;
  margin-bottom: 5px;
}

.seat-main {
  font-weight: bold;
}

.exams-expected {
  color: #666;
}

.fees {
  color: #009688;
}

.duration {
  color: #ff5722;
}

/* cutoff */
#cutoffs-head {
  position: relative;
  left: 10vw;
  top: 5vh;
}
/* table */

.custom-table {
  width: 80%;
  border-collapse: collapse;
}

.heading-col {
  background-color: #ffffff;
  font-size: 18px;
}

.large-col {
  text-align: left;
}
#table {
  position: relative;
  left: 10vw;
  bottom: 40vh;
}
h2 {
  font-size: normal;
  position: relative;
  left: 10vw;
  top: 5vh;
}
#points {
  position: relative;
  top: 15vh;
  left: 10vw;
}

#points ul li {
  font-size: 17px;
  margin: 10px;
}
#highlight-table {
  position: relative;
  top: 25vh;
  left: 21vh;
  font-weight: 500;
}
/* highlight-table */
.alternate-table {
  width: 80%;
  border-collapse: collapse;
  position: relative;
  left: 9.5vw;
  top: 26vh;
}

.alternate-table th,
.alternate-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.alternate-table tr:nth-child(even) {
  background-color: #ffffff; /* Alternate background color for even rows */
}

.alternate-table tr:nth-child(odd) {
  background-color: #f4f8fd; /* Alternate background color for odd rows */
}

/* Styling for the second column */
.alternate-table td:nth-child(2) {
  width: 70%; /* Adjust the width as needed */
}

/* criteria */
.custom-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  position: relative;
  top: 50vh;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f4f8fd;
}

.highlight {
  background-color: #ffffff;
}
#newtable {
  position: relative;
  top: 45vh;
  left: 9.5vw;
}

#college-name {
  position: relative;
  left: 10vw;
  top: 40vh;
  font-size: 20px;
  font-weight: 500;
}
#addmission-discription {
  position: relative;
  top: 45vh;
  left: 9.5vw;
  margin-right: 20vw;
}

/* ----------------reviews----------- */
#reviews {
  background-color: #f4f8fd;
}
#review-heading {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  left: 9.5vw;
  top: 5vh;
}
#more_reviews {
  position: relative;
  left: 90vw;
  cursor: pointer;
}
#more_reviews a {
  text-decoration: none;
  color: #000;
}
#more_reviews :hover {
  color: #2270e2;
}
#review_six {
  position: relative;
  top: 25px;
}
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.reviews {
  color: #f9d71c;
}
.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media (max-width: 1060px) {
  .testimonial-box {
    width: 45%;
    padding: 10px;
  }
}
@media (max-width: 790px) {
  .testimonial-box {
    width: 100%;
  }
  .testimonial-heading h1 {
    font-size: 1.4rem;
  }
}
@media (max-width: 340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews {
    margin-top: 10px;
  }
}
::selection {
  color: #ffffff;
  background-color: #080808;
}

.box .text {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.box .text:hover {
  text-decoration: underline #6a6969;
}

form .btn {
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button {
  height: 5%;
  width: 20%;
  border: 1px solid #fffdfdf3;
  outline: none;
  background: #181616;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover {
  background: #000000;
}
form button a {
  text-decoration: none;
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

#write_reviews {
  width: 170px;
  height: 30px;
  background-color: #2270e2;
  position: relative;
  left: 85vw;
  text-align: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding-top: 15px;
}
#write_reviews a {
  text-decoration: none;
  color: white;
}
/* Optional: Add some basic styling */

canvas {
  border: 1px solid #ddd;
}

#container {
  width: 50vw;
  height: 60vh;
  position: relative;
  top: 150px;
  left: 155px;
}
#placement-note {
  position: relative;
  left: 33vw;
  top: 22vh;
}
#placement-description {
  width: 50vw;
  position: absolute;
  top: 125vh;
  left: 10vw;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  word-spacing: 10px;
  line-height: 22px;
  opacity: 0;
}
#location {
  position: absolute;
  left: 64vw;
  bottom: 32vh;
  border-radius: 7px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
}
#location iframe {
  width: 25vw;
  border-radius: 7px;
}
#location-note {
  position: relative;
  left: 66vw;

  top: 23vh;
  cursor: pointer;
}

/**/
@keyframes slideIn {
  0% {
    transform: scale(0.5); /* Start small */
    opacity: 0; /* Start transparent */
  }
  100% {
    transform: scale(1); /* End at normal size */
    opacity: 1; /* End fully visible */
  }
}

@keyframes popOut {
  0% {
    transform: scale(1); /* Start at normal size */
    opacity: 1; /* Start fully visible */
  }
  100% {
    transform: scale(1.2); /* End larger */
    opacity: 0; /* End transparent */
  }
}

.slide-in-text {
  opacity: 0; /* Start hidden */
  animation: slideIn 1s ease forwards; /* Animation duration and easing */
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 300;
  word-spacing: 10px;
  line-height: 28px;
}

.high {
  background: linear-gradient(
    to right,
    red,
    yellow
  ); /* Gradient color for the highlighted part */
  color: transparent; /* Make the text transparent */
  -webkit-background-clip: text; /* Apply the gradient only to the text */
  background-clip: text;
  z-index: 1; /* Make highlighted text appear above other text */
  position: relative; /* Enable z-index property */
}

.high:hover {
  animation: popUp 0.3s ease; /* Apply pop-up animation on hover */
}
.pop-out {
  animation: popOut 0.5s ease forwards; /* Pop out animation duration and easing */
}

@keyframes slide {
  0% {
    transform: translateX(100%); /* Start from right */
    opacity: 0; /* Start transparent */
  }
  100% {
    transform: translateX(0); /* End at normal position */
    opacity: 1; /* End fully visible */
  }
}

@keyframes pop {
  0% {
    transform: scale(1); /* Start at normal size */
    opacity: 1; /* Start fully visible */
  }
  100% {
    transform: scale(1.2); /* End larger */
    opacity: 0; /* End transparent */
  }
}
.grid-item:hover{
  box-shadow: -5px 5px 10px rgba(0,0,0,0.1);
}
/**/
